<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syntax.timer">

    <!-- Permissions specific to this module, if any -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <!-- Receiver declaration -->
        <receiver
            android:name=".TimerExpiredReceiver"
            android:exported="false" />
    </application>

</manifest>
